<settings>
    <profiles>
        <profile>
            <id>artifactory-plugin-properties</id>
            <properties>
                <username>admin</username>
                <password>password</password>
            </properties>
        </profile>
        <proxies>
    <proxy>
     <id>proxy</id>
        <active>true</active>
        <protocol>http</protocol>
        <host>proxy.example.com</host>
        <port>8080</port>
    </proxy>
        </proxies>
    </profiles>

    <activeProfiles>
        <activeProfile>artifactory-plugin-properties</activeProfile>
    </activeProfiles>
</settings>
